#result {
  display: none;
}

body {
  background-color: #0f232a;
  font-family: "Ubuntu", sans-serif;
}
h1,
h4,
#result {
  text-align: center;
}

h1 {
  margin-top: 40px;
}

h4 {
  margin-bottom: 20px;
}

.header {
  color: #ef8233;
}
.card {
  width: 50%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.btn {
  margin: 0 auto;
  display: block;
  padding: 10px;
  margin-top: 20px;
}

#result {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #ef8233;
}

.outPut {
  color: #095ed7;
}
